# Site settings
title: Gowtham Kaki
email: gowtham.kaki@colorado.edu
description: > # this means to ignore newlines until "baseurl:"
  I'm an Assistant Professor of Computer Science at the University of
  Colorado, Boulder. My research interests include Programming
  Languages, Program Verification, and Distributed Systems.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://gowthamk.github.io" # the base hostname & protocol for your site
twitter_username: gowthamk
github_username:  gowthamk
orcid_id: #0000-0003-4072-6263
google_scholar_id: #BNr-fb8AAAAJ

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title/
jobtitle: "Assistant Professor"
address: |
    Department of Computer Science,
    University of Colorado,
    Boulder, CO 80309
excerpt_separator: "<!--more-->"

plugins:
  - jekyll-scholar
  - jekyll-sitemap
  - jekyll-archives

# Ensure these files and folders are ignored during the build
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .idea/

# -------------------------------------------------------------------------
# Collections
# -------------------------------------------------------------------------

collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path/
  projects:
    output: true
    permalink: /projects/:path/

news_limit: 4

# ------------------------------------------------------------------------
# Jekyll Scholar
# ------------------------------------------------------------------------

scholar:

  last_name: Einstein

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  bibliography: papers.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

# -------------------------------------
# Jekyll Archive (Categories)
# --------------------------------------
jekyll-archives:
  enabled:
    - categories
  layout: 'category_listing' # Create this layout later
  permalinks:
    category: '/category/:name/' # This determines your final URL structure


# --------------------------------------
# Disqus Comments
# --------------------------------------
disqus: 'tycon'
comments: true